<a href="https://colab.research.google.com/github/nichakornchaisuwan/DWDM21/blob/main/Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##แหล่งที่มาของข้อมูล
* ย่านชุมชนเก่า แหล่งที่มาของข้อมูล https://data.go.th/dataset/old-community?fbclid=IwAR0TJxEAwTtBKYS853iy-LVEDE09z9WawwXii0BufdHWwojpU0_Lvw3ciYM
* ผู้เยี่ยมเยือน จำแนกตามจังหวัด แหล่งท่มาของข้อมูล https://data.go.th/dataset/visitors?fbclid=IwAR0mLjK4IUjLWa99UBhG5sM6FGGnicg_iVRzQHTp8btujsUbFEOzmGFaRYA
* รายได้จากการท่องเที่ยว จำแนกรายจังหวัด https://data.go.th/dataset/1559?fbclid=IwAR3-ZnxUzDyap-vs3T3vdkkwXgIu5ye3pwha8okKoZk6MQMhYl6KNmYeu9M

In [17]:
import pandas as pd # ทำงานกับข้อมูลลักษณะตาราง

In [18]:
from google.colab import drive
drive.mount('/content/drive') #เชื่อมต่อไดรฟ์

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [19]:
ls

drive/  sample_data/

In [20]:
import os #จัดการไฟล์และ path

In [21]:
path = '/content/drive/My Drive/DWDM21_DATA' #(ตำแหน่งที่อยู่ของไฟล์)

###นำข้อมูลเข้า

In [22]:
data_1 = pd.read_csv(os.path.join(path,'old-community-area-updated-may-2021.csv')) #ย่านชุมชนเก่า
data_1

     ลำดับที่  ...                                        ลักษณะสำคัญ
0           1  ...  นครชุม เป็นชุมชนตลาดการค้า ที่มีประวัติความเป็...
1           2  ...  บ้านพรานกระต่าย เป็นชุมชนเกษตรกรรมชนบท ที่มีเร...
2           3  ...  บ้านห้วยแม่ซ้าย เป็นชุมชนเกษตรกรรม และชุมชนชาต...
3           4  ...  บ้านถ้ำผาตอง เป็นชุมชนเกษตรกรรม และชุมชนกลุ่มอ...
4           5  ...  บ้านกะเหรี่ยงรวมมิตร เป็นชุมชนเกษตรกรรม ชุมชนต...
..        ...  ...                                                ...
608       609  ...  ชุมชนบ้านปะอาว เป็นชุมชนชนบทตั้งอยู่บนที่ดอน พ...
609       610  ...  ชุมชนพาณิชยกรรมเก่า เป็นย่านพาณิชยกรรมเก่าแห่ง...
610       611  ...  ชุมชนแก่งสะพือ เป็นย่านชุมชนเก่าริมน้ำแม่น้ำมู...
611       612  ...  ชุมชนบ้านแคน เป็นชุมชนชนบทตั้งอยู่บนที่ดอน พื้...
612       613  ...  ชุมชนบ้านชาด เป็นชุมชนเก่าตั้งอยู่ใกล้กับแหล่ง...

[613 rows x 9 columns]

In [23]:
data_2= pd.read_csv(os.path.join(path,'visitors.csv'))  # ผู้เยี่ยมเยือน จำแนกตามจังหวัด
data_2

            จังหวัด รหัสจังหวัด        2549  ...      2560      2561  Unnamed: 15
0     กรุงเทพมหานคร       th-bm  36172138.0  ...  63575737  65534281          NaN
1       สมุทรปราการ       th-sp    958352.0  ...   3218934   3373639          NaN
2           นนทบุรี       th-no    830593.0  ...   2514677   2664025          NaN
3          ปทุมธานี       th-pt    868449.0  ...   2014281   2098344          NaN
4   พระนครศรีอยุธยา       th-pa   3373929.0  ...   7631557   8349613          NaN
..              ...         ...         ...  ...       ...       ...          ...
72             ตรัง       th-tg    726373.0  ...   1514092   1578906          NaN
73           พัทลุง       th-pl    448000.0  ...   1569333   1641841          NaN
74          ปัตตานี       th-pi    160320.0  ...    272739    281988          NaN
75             ยะลา       th-yl    282463.0  ...    657317    680018          NaN
76         นราธิวาส       th-nw    336473.0  ...    665710    692057          NaN

[77 rows x 16 columns]

In [24]:
data_2New = data_2[['จังหวัด','รหัสจังหวัด','2555','2556','2557','2558','2559','2560','2561']] # ผู้เยี่ยมเยือน จำแนกตามจังหวัด
data_2New

            จังหวัด รหัสจังหวัด      2555  ...      2559      2560      2561
0     กรุงเทพมหานคร       th-bm  47185031  ...  59196331  63575737  65534281
1       สมุทรปราการ       th-sp   2107433  ...   2900180   3218934   3373639
2           นนทบุรี       th-no   1663990  ...   2090095   2514677   2664025
3          ปทุมธานี       th-pt   1474292  ...   1896549   2014281   2098344
4   พระนครศรีอยุธยา       th-pa   6066545  ...   7216514   7631557   8349613
..              ...         ...       ...  ...       ...       ...       ...
72             ตรัง       th-tg   1137961  ...   1465811   1514092   1578906
73           พัทลุง       th-pl   1089992  ...   1487188   1569333   1641841
74          ปัตตานี       th-pi    214285  ...    257143    272739    281988
75             ยะลา       th-yl    429044  ...    624879    657317    680018
76         นราธิวาส       th-nw    489944  ...    646020    665710    692057

[77 rows x 9 columns]

####เปลี่ยนชื่อคอลัมน์ data_2New

In [40]:
data_2New.rename(columns={'2555':'2555visitor'},inplace=True)
data_2New.rename(columns={'2556':'2556visitor'},inplace=True)
data_2New.rename(columns={'2557':'2557visitor'},inplace=True)
data_2New.rename(columns={'2558':'2558visitor'},inplace=True)
data_2New.rename(columns={'2559':'2559visitor'},inplace=True)
data_2New.rename(columns={'2560':'2560visitor'},inplace=True)
data_2New.rename(columns={'2561':'2561visitor'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [41]:
data_2New

            จังหวัด รหัสจังหวัด  ...  2560visitor  2561visitor
0     กรุงเทพมหานคร       th-bm  ...     63575737     65534281
1       สมุทรปราการ       th-sp  ...      3218934      3373639
2           นนทบุรี       th-no  ...      2514677      2664025
3          ปทุมธานี       th-pt  ...      2014281      2098344
4   พระนครศรีอยุธยา       th-pa  ...      7631557      8349613
..              ...         ...  ...          ...          ...
72             ตรัง       th-tg  ...      1514092      1578906
73           พัทลุง       th-pl  ...      1569333      1641841
74          ปัตตานี       th-pi  ...       272739       281988
75             ยะลา       th-yl  ...       657317       680018
76         นราธิวาส       th-nw  ...       665710       692057

[77 rows x 9 columns]

In [25]:
data_3= pd.read_csv(os.path.join(path,'revenue.csv')) #รายได้จากการท่องเที่ยว จำแนกตามจังหวัด
data_3

          จังหวัด รหัสจังหวัด       2555  ...       2559          2560        2561
0   กรุงเทพมหานคร       th-bm  570327.58  ...  822454.21  947946.30000  1051118.51
1       กาญจนบุรี       th-kn   11910.00  ...   20404.73   24440.77288    27138.35
2        จันทบุรี       th-ct    4214.00  ...    5630.03    7628.47000     8469.45
3      ฉะเชิงเทรา       th-cc    3571.69  ...    4240.41    4655.55000     5007.28
4          ชลบุรี       th-cb  100537.00  ...  187788.42  240610.45000   272435.77
..            ...         ...        ...  ...        ...           ...         ...
72          ระนอง       th-rn    2780.00  ...    3954.75    4311.07000     4706.13
73          สงขลา       th-sg   26702.00  ...   53493.02   59831.77000    68097.42
74           สตูล       th-sa    5332.00  ...    7438.85    8168.70000     9101.47
75   สุราษฎร์ธานี       th-st   35312.00  ...   76546.39   92228.01000   104503.71
76         บึงกาฬ       th-bk       0.00  ...     900.50     976.61000     1047.13

[77 rows x 9 columns]

In [26]:
data_3New = data_3[['รหัสจังหวัด','2555','2556','2557','2558','2559','2560','2561']] #รายได้จากการท่องเที่ยว จำแนกตามจังหวัด
data_3New

   รหัสจังหวัด       2555       2556  ...       2559          2560        2561
0        th-bm  570327.58  626535.05  ...  822454.21  947946.30000  1051118.51
1        th-kn   11910.00   13417.00  ...   20404.73   24440.77288    27138.35
2        th-ct    4214.00    4569.00  ...    5630.03    7628.47000     8469.45
3        th-cc    3571.69    3735.06  ...    4240.41    4655.55000     5007.28
4        th-cb  100537.00  111109.00  ...  187788.42  240610.45000   272435.77
..         ...        ...        ...  ...        ...           ...         ...
72       th-rn    2780.00    3250.00  ...    3954.75    4311.07000     4706.13
73       th-sg   26702.00   37276.00  ...   53493.02   59831.77000    68097.42
74       th-sa    5332.00    5905.00  ...    7438.85    8168.70000     9101.47
75       th-st   35312.00   51550.00  ...   76546.39   92228.01000   104503.71
76       th-bk       0.00       0.00  ...     900.50     976.61000     1047.13

[77 rows x 8 columns]

#### เปลี่ยนชื่อคอลัมน์ data_3New

In [37]:
data_3New.rename(columns={'2555':'2555income'},inplace=True)
data_3New.rename(columns={'2556':'2556income'},inplace=True)
data_3New.rename(columns={'2557':'2557income'},inplace=True)
data_3New.rename(columns={'2558':'2558income'},inplace=True)
data_3New.rename(columns={'2559':'2559income'},inplace=True)
data_3New.rename(columns={'2560':'2560income'},inplace=True)
data_3New.rename(columns={'2561':'2561income'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [38]:
data_3New

   รหัสจังหวัด  2555income  2556income  ...  2559income    2560income  2561income
0        th-bm   570327.58   626535.05  ...   822454.21  947946.30000  1051118.51
1        th-kn    11910.00    13417.00  ...    20404.73   24440.77288    27138.35
2        th-ct     4214.00     4569.00  ...     5630.03    7628.47000     8469.45
3        th-cc     3571.69     3735.06  ...     4240.41    4655.55000     5007.28
4        th-cb   100537.00   111109.00  ...   187788.42  240610.45000   272435.77
..         ...         ...         ...  ...         ...           ...         ...
72       th-rn     2780.00     3250.00  ...     3954.75    4311.07000     4706.13
73       th-sg    26702.00    37276.00  ...    53493.02   59831.77000    68097.42
74       th-sa     5332.00     5905.00  ...     7438.85    8168.70000     9101.47
75       th-st    35312.00    51550.00  ...    76546.39   92228.01000   104503.71
76       th-bk        0.00        0.00  ...      900.50     976.61000     1047.13

[77 rows x 8 columns]

###รวม 2 ตารางเข้าด้วยกัน .merge()

In [42]:
merged_data_2New_data_3New = data_2New.merge(data_3New,how='left',left_on='รหัสจังหวัด',right_on='รหัสจังหวัด')
merged_data_2New_data_3New

            จังหวัด รหัสจังหวัด  ...  2560income  2561income
0     กรุงเทพมหานคร       th-bm  ...   947946.30  1051118.51
1       สมุทรปราการ       th-sp  ...     6144.65     6656.34
2           นนทบุรี       th-no  ...     3963.09     4368.99
3          ปทุมธานี       th-pt  ...     3172.61     3443.06
4   พระนครศรีอยุธยา       th-pa  ...    16901.48    18718.90
..              ...         ...  ...         ...         ...
72             ตรัง       th-tg  ...     9028.01     9916.29
73           พัทลุง       th-pl  ...     3155.92     3489.08
74          ปัตตานี       th-pi  ...      996.16     1100.97
75             ยะลา       th-yl  ...     3145.57     3443.17
76         นราธิวาส       th-nw  ...     2888.53     3137.67

[77 rows x 16 columns]

In [43]:
merged_data_1_data_2New_data_3New = data_1.merge(merged_data_2New_data_3New,how='left',left_on='จังหวัด',right_on='จังหวัด')
merged_data_1_data_2New_data_3New

     ลำดับที่           ชื่อย่านชุมชนเก่า  ... 2560income 2561income
0           1                      นครชุม  ...    1529.10    1616.48
1           2             บ้านพรานกระต่าย  ...    1529.10    1616.48
2           3  บ้านห้วยแม่ซ้าย (บ้านยะฟู)  ...   26053.86   28548.43
3           4                บ้านถ้ำผาตอง  ...   26053.86   28548.43
4           5        บ้านกะเหรี่ยงรวมมิตร  ...   26053.86   28548.43
..        ...                         ...  ...        ...        ...
608       609              ชุมชนบ้านปะอาว  ...    7375.12    7990.17
609       610         ชุมชนพาณิชยกรรมเก่า  ...    7375.12    7990.17
610       611              ชุมชนแก่งสะพือ  ...    7375.12    7990.17
611       612                ชุมชนบ้านแคน  ...    7375.12    7990.17
612       613                ชุมชนบ้านชาด  ...     429.93     449.62

[613 rows x 24 columns]

#### 
        ```จังหวัดกาญจนบุรี มีผู้มาเยี่ยมชมย่านชุมชนเก่าในปี 2560 กี่คน 2560visitor```

            จังหวัดกาญจนบุรี มีรายได้จากการมาเยี่ยมชมชุมชนเก่าในปี 2560 กี่บาท 2560income

In [47]:
Ex = merged_data_1_data_2New_data_3New[merged_data_1_data_2New_data_3New['จังหวัด']== 'กาญจนบุรี']  
Ex[['จังหวัด','ชื่อย่านชุมชนเก่า','2560visitor','2560income']]

       จังหวัด        ชื่อย่านชุมชนเก่า  2560visitor   2560income
280  กาญจนบุรี          ชุมชนถนนปากแพรก      8872542  24440.77288
281  กาญจนบุรี        ชุมชนบ้านปากนาสวน      8872542  24440.77288
282  กาญจนบุรี         ชุมชนบ้านหนองขาว      8872542  24440.77288
283  กาญจนบุรี  ชุมชนหมู่บ้านหม่องสะเทอ      8872542  24440.77288
284  กาญจนบุรี         ชุมชนตลาดท่ามะกา      8872542  24440.77288
285  กาญจนบุรี             ชุมชนตลาดเขต      8872542  24440.77288

In [49]:
Ex = merged_data_1_data_2New_data_3New[merged_data_1_data_2New_data_3New['ชื่อย่านชุมชนเก่า']== 'นครชุม']  
Ex[['จังหวัด','ชื่อย่านชุมชนเก่า','2560visitor','2560income']]

     จังหวัด ชื่อย่านชุมชนเก่า  2560visitor  2560income
0  กำแพงเพชร            นครชุม       752553      1529.1